name: Windows

on:
  push:
    branches:
      - master
      - ci/*
  pull_request:
    branches:
      - master

env:
  VCPKG_COMMIT: 2ad004460f5db4d3b66f62f5799ff66c265c4b5d
  MELONDS_GIT_BRANCH: ${{ github.ref }}
  MELONDS_GIT_HASH: ${{ github.sha }}
  MELONDS_BUILD_PROVIDER: GitHub Actions
  MELONDS_VERSION_SUFFIX: ""

jobs:
  build:
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}
    steps:
    - name: Check out sources
      uses: actions/checkout@v3
    - name: Set up MSYS2
      uses: msys2/setup-msys2@v2
      with:
        msystem: ucrt64
        update: true
        pacboy: gcc:p cmake:p ninja:p make:p
    - name: Set up vcpkg
      uses: lukka/run-vcpkg@v11
      with:
        vcpkgGitCommitId: ${{ env.VCPKG_COMMIT }}
    - name: Configure
      run: cmake --preset=release-mingw-x86_64 -DMELONDS_EMBED_BUILD_INFO=ON
    - name: Build
      run: cmake --build --preset=release-mingw-x86_64
    - name: Preparing artifacts
      working-directory: ${{runner.workspace}}\KHMelonMix\build
      run: |
        mkdir dist
        mkdir -p ./dist/roms
        touch ./dist/roms/DELETE_ME
        cp -r ../assets ./dist/assets
        mv ./release-mingw-x86_64/melonDS.exe ./dist/MelonMix.exe
        cp ../res/khDaysMM.ico   ./dist/MelonMix_KHDays.ico
        cp ../res/khCodedMM.ico  ./dist/MelonMix_KHReCoded.ico
        cp ../res/scripts/MelonMix_KHDays.bat       ./dist/MelonMix_KHDays.bat
        cp ../res/scripts/MelonMix_KHReCoded.bat    ./dist/MelonMix_KHReCoded.bat
        cp ../res/scripts/MelonMix_GameSelector.bat ./dist/MelonMix_GameSelector.bat

    - uses: actions/upload-artifact@v4
      with:
        name: MelonMix-windows-x86_64
        path: ${{runner.workspace}}\KHMelonMix\build\dist
