name: macOS

on:
  push:
    branches:
      - master
      - ci/*
  pull_request:
    branches:
      - master

env:
  MELONDS_GIT_BRANCH: ${{ github.ref }}
  MELONDS_GIT_HASH: ${{ github.sha }}
  MELONDS_BUILD_PROVIDER: GitHub Actions
#  MELONDS_VERSION_SUFFIX: " RC"

jobs:
  build-macos:
    strategy:
      matrix:
        arch: [x86_64, arm64]

    name: ${{ matrix.arch }}
    runs-on: macos-26

    env:
      VCPKG_BINARY_SOURCES: clear;files,${{ github.workspace }}/vcpkg_cache,readwrite

    steps:
      - name: Check out sources
        uses: actions/checkout@v3
      - name: Install dependencies for package building
        run: |
          brew install autoconf automake autoconf-archive libtool python-setuptools flac
      - name: Set up CMake
        uses: lukka/get-cmake@latest
      - name: Restore vcpkg cache
        uses: actions/cache/restore@v4
        with:
          path: ${{ github.workspace }}/vcpkg_cache
          key: vcpkg-${{ matrix.arch }}-osx-${{ hashFiles('vcpkg.json') }}
          restore-keys: vcpkg-${{ matrix.arch }}-osx-
      - name: Set up vcpkg
        uses: lukka/run-vcpkg@v11
        with:
          vcpkgJsonGlob: vcpkg.json
      - name: Build
        uses: lukka/run-cmake@v10
        with:
          configurePreset: release-mac-${{ matrix.arch }}
          buildPreset: release-mac-${{ matrix.arch }}
          configurePresetAdditionalArgs: "['-DMELONDS_EMBED_BUILD_INFO=ON']"
      - name: Compress app bundle
        shell: bash
        run: |
          cd build/release-mac-${{ matrix.arch }}
          mv melonDS.app MelonMix.app
          zip -r -y ../../macOS-${{ matrix.arch }}.zip MelonMix.app
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: MelonMix-macOS-${{ matrix.arch }}
          path: macOS-${{ matrix.arch }}.zip
          retention-days: 1
      - name: Save vcpkg cache
        uses: actions/cache/save@v4
        with:
          path: ${{ github.workspace }}/vcpkg_cache
          key: vcpkg-${{ matrix.arch }}-osx-${{ hashFiles('vcpkg.json') }}

  universal-binary:
    name: Universal binary
    needs: [build-macos]
    runs-on: macos-26
    continue-on-error: true
    steps:
      - name: Download x86_64
        uses: actions/download-artifact@v4
        with:
          name: MelonMix-macOS-x86_64
          path: x86_64
      - name: Download arm64
        uses: actions/download-artifact@v4
        with:
          name: MelonMix-macOS-arm64
          path: arm64
      - name: Combine app bundles
        shell: bash
        run: |
          unzip x86_64/*.zip -d x86_64
          unzip arm64/*.zip -d arm64
          lipo {x86_64,arm64}/MelonMix.app/Contents/MacOS/melonDS -create -output melonDS
          cp -a arm64/MelonMix.app MelonMix.app
          rm MelonMix.app/Contents/MacOS/melonDS
          cp melonDS MelonMix.app/Contents/MacOS/melonDS
          codesign -s - --deep MelonMix.app
          zip -r -y macOS-universal.zip MelonMix.app
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: MelonMix-macOS-universal
          path: macOS-universal.zip
