name: Windows

on:
  push:
    branches:
      - master
      - ci/*
      - feature/*
  pull_request:
    branches:
      - master
  workflow_dispatch:

env:
  MELONDS_GIT_BRANCH: ${{ github.ref }}
  MELONDS_GIT_HASH: ${{ github.sha }}
  MELONDS_BUILD_PROVIDER: GitHub Actions
#  MELONDS_VERSION_SUFFIX: " RC"

jobs:
  build:
    runs-on: windows-2025
    defaults:
      run:
        shell: msys2 {0}
    env:
      VCPKG_BINARY_SOURCES: clear;files,${{ github.workspace }}/vcpkg_cache,readwrite
    steps:
    - name: Check out sources
      uses: actions/checkout@v3
    - name: Set Version Suffix
      run: |
        if [ "${{ github.event_name }}" != "workflow_dispatch" ]; then
          TIMESTAMP=$(date +'%Y%m%d%H%M')
          BRANCH_NAME=$(echo "${{ github.ref_name }}" | sed 's/\//-/g')
          echo "MELONDS_VERSION_SUFFIX=-$BRANCH_NAME-$TIMESTAMP" >> $GITHUB_ENV
        fi
    - name: Set up MSYS2
      uses: msys2/setup-msys2@v2
      with:
        msystem: ucrt64
        update: true
        pacboy: gcc:p cmake:p ninja:p make:p
    - name: Restore vcpkg cache
      uses: actions/cache/restore@v4
      with:
        path: ${{ github.workspace }}/vcpkg_cache
        key: vcpkg-x86_64-mingw-${{ hashFiles('vcpkg.json') }}
        restore-keys: vcpkg-x86_64-mingw-
    - name: Set up vcpkg
      uses: lukka/run-vcpkg@v11
      with:
        vcpkgJsonGlob: vcpkg.json
    - name: Configure
      run: cmake --preset=release-mingw-x86_64 -DMELONDS_EMBED_BUILD_INFO=ON
    - name: Build
      run: cmake --build --preset=release-mingw-x86_64
    - name: Preparing artifacts
      working-directory: ${{runner.workspace}}\KHMelonMix\build
      run: |
        rm -rf dist || true
        mkdir dist
        mkdir -p ./dist/roms
        touch ./dist/roms/DELETE_ME
        cp -r ../assets ./dist/assets
        mv ./release-mingw-x86_64/melonDS.exe ./dist/MelonMix.exe
        cp ../res/*.exe          ./dist/
        cp ../res/khDaysMM.ico   ./dist/MelonMix_KHDays.ico
        cp ../res/khCodedMM.ico  ./dist/MelonMix_KHReCoded.ico
        cp ../res/scripts/MelonMix_KHDays.bat       ./dist/MelonMix_KHDays.bat
        cp ../res/scripts/MelonMix_KHReCoded.bat    ./dist/MelonMix_KHReCoded.bat
        cp ../res/scripts/MelonMix_GameSelector.bat ./dist/MelonMix_GameSelector.bat
    - uses: actions/upload-artifact@v4
      with:
        name: MelonMix-windows-x86_64
        path: ${{runner.workspace}}\KHMelonMix\build\dist
    - name: Save vcpkg cache
      uses: actions/cache/save@v4
      with:
        path: ${{ github.workspace }}/vcpkg_cache
        key: vcpkg-x86_64-mingw-${{ hashFiles('vcpkg.json') }}
