name: Ubuntu

on:
  push:
    branches:
      - master
      - ci/*
  pull_request:
    branches:
      - master

env:
  MELONDS_GIT_BRANCH: ${{ github.ref }}
  MELONDS_GIT_HASH: ${{ github.sha }}
  MELONDS_BUILD_PROVIDER: GitHub Actions
  MELONDS_VERSION_SUFFIX: ""

jobs:
  build:
    continue-on-error: true
    strategy:
      matrix:
        arch:
          - runner: ubuntu-22.04
            name: x86_64
          - runner: ubuntu-22.04-arm
            name: aarch64

    name: ${{ matrix.arch.name }}
    runs-on: ${{ matrix.arch.runner }}

    steps:
    - uses: actions/checkout@v4
      name: Check out sources
    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install --allow-downgrades cmake ninja-build extra-cmake-modules libpcap0.8-dev libsdl2-dev libenet-dev \
          qt6-{base,base-private,multimedia}-dev libqt6svg6-dev libarchive-dev libzstd-dev libfuse2
    - name: Install GStreamer dependencies
      run: |
        sudo apt-get install --allow-downgrades libunwind-dev libgstreamer1.0-dev libgstreamer-plugins-base1.0-dev \
          libgstreamer-plugins-bad1.0-dev gstreamer1.0-plugins-base gstreamer1.0-plugins-good gstreamer1.0-plugins-bad \
          gstreamer1.0-plugins-ugly gstreamer1.0-libav gstreamer1.0-tools gstreamer1.0-x gstreamer1.0-alsa gstreamer1.0-gl \
          gstreamer1.0-gtk3 gstreamer1.0-qt5 gstreamer1.0-pulseaudio
    - name: Configure
      run: cmake -B build -G Ninja -DCMAKE_INSTALL_PREFIX=/usr -DMELONDS_EMBED_BUILD_INFO=ON
    - name: Build
      run: |
        cmake --build build
        DESTDIR=AppDir cmake --install build
        mv AppDir/usr/bin/melonDS AppDir/usr/bin/MelonMix
    - name: Preparing artifacts (ubuntu-x86_64)
      run: |
        mkdir dist
        mkdir -p ./dist/roms
        touch ./dist/roms/DELETE_ME
        cp -r ./assets ./dist/assets
        rm -r ./dist/assets/days/sprites
        cp AppDir/usr/bin/MelonMix ./dist/MelonMix
        cp ./res/scripts/MelonMix_KHDays.sh    ./dist/MelonMix_KHDays.sh
        cp ./res/scripts/MelonMix_KHReCoded.sh ./dist/MelonMix_KHReCoded.sh
    - uses: actions/upload-artifact@v4
      with:
        name: MelonMix-ubuntu-${{ matrix.arch.name }}
        path: dist
    - name: Fetch AppImage tools
      run: |
        wget https://github.com/linuxdeploy/linuxdeploy/releases/download/continuous/linuxdeploy-${{ matrix.arch.name }}.AppImage
        wget https://github.com/linuxdeploy/linuxdeploy-plugin-qt/releases/download/continuous/linuxdeploy-plugin-qt-${{ matrix.arch.name }}.AppImage
        wget https://raw.githubusercontent.com/linuxdeploy/linuxdeploy-plugin-gstreamer/master/linuxdeploy-plugin-gstreamer.sh
        chmod a+x linuxdeploy-*.AppImage
        chmod a+x linuxdeploy-*.sh
    - name: Build the AppImage
      env:
        QMAKE: /usr/lib/qt6/bin/qmake
      run: |
        ./linuxdeploy-${{ matrix.arch.name }}.AppImage --list-plugins
        ./linuxdeploy-${{ matrix.arch.name }}.AppImage --appdir AppDir --plugin qt
        ./linuxdeploy-${{ matrix.arch.name }}.AppImage --appdir AppDir --plugin gstreamer --output appimage
    - name: Preparing artifacts (appimage-x86_64)
      if: matrix.arch.name != 'aarch64'
      run: |
        mkdir dist_appimage
        mkdir -p ./dist_appimage/roms
        touch ./dist_appimage/roms/DELETE_ME
        cp -r ./assets ./dist_appimage/assets
        rm -r ./dist_appimage/assets/days/sprites
        mv MelonMix*.AppImage ./dist_appimage/MelonMix.AppImage
        cp ./res/scripts/MelonMix_KHDays_AppImage.sh    ./dist_appimage/MelonMix_KHDays.sh
        cp ./res/scripts/MelonMix_KHReCoded_AppImage.sh ./dist_appimage/MelonMix_KHReCoded.sh
    - uses: actions/upload-artifact@v4
      with:
        name: MelonMix-appimage-${{ matrix.arch.name }}
        path: dist_appimage
